:root {
/*colors*/
--black: #000;
--white: #fff;
--gold: #c2b669;

/*intentions*/
--primary: var(--gold);
--secondary: var(--black);
--background: var(--white);
}
.light {
  --primary: var(--gold);
  --secondary: var(--black);
  --background: var(--white);
}
.dark {
  --primary: var(--black);
  --secondary: var(--gold);
  --background: var(--black);
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--background);
  font-family: 'Caudex', serif
}

#header {
  text-align: center;
  background-size: cover;
  background-color: var(--primary);
  color: var(--secondary);
  font-size: xx-large;
  padding-top: 10px; padding-bottom: 10px;
}

#filters {
  text-align: center;
  background-color: var(--secondary);
}
  .button {
    margin: 0px -4px 20px -4px;
    padding: 10px 20px 10px 20px;
    background-color: var(--secondary);
    color: var(--primary);
    font-size: large;
    font-family: 'Caudex', serif;
    border: solid thin var(--primary);
      border-top: 0px;
      border-bottom: 0px;
    cursor: pointer;
  }
  #toggle-button {
    margin: 20px;
    cursor: pointer;
  }

#menu {
  margin: 2vh auto 0vw auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 90%;
}
  .menu-item {
    flex: 0 0 50%;
    background-color: var(--primary);
    border: solid var(--secondary) 5px;
    border-radius: 20px;
    max-height: 60vh; max-width: 48vh;
    margin-bottom: 2vh;
    text-align: center;
  }
    .item-img {
        height: 20rem; width: 20rem;
        margin: 4vh 3vh 0vh 3vh;
    }
    .item-name {
      text-align: center;
      color: var(--secondary);
    }